<!--
    ?_method=PUT tells Express (via method-override) to treat this as a PUT
    request, instead of a POST request.
-->

<% layout("layouts/boilerplate") %>

<div class="row">
    <h1 class="text-center mb-3">Edit Restaurant</h1>

    <div class="col-6 offset-3">
        <form class="needs-validation" action="/restaurants/<%= restaurant._id %>?_method=PUT" method="POST" novalidate>
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="restaurant[title]"
                    value="<%= restaurant.title %>" required>
            </div>

            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="restaurant[location]"
                    value="<%= restaurant.location %>" required>
            </div>

            <div class="mb-3">
                <label class="form-label" for="price">Average Price (Per Person)</label>

                <div class="input-group">
                    <span class="input-group-text" id="price-label">Rs.</span>
                    <input class="form-control" type="number" min="0" step="0.01" id="price" name="restaurant[price]"
                        value="<%= restaurant.price %>" aria-label="price" aria-describedby="price-label" required>
                </div>
            </div>

            <div class="mb-4">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="restaurant[description]"
                    required><%= restaurant.description %></textarea>
            </div>

            <div class="mb-3">
                <button class="btn btn-info">Update Restaurant</button>
            </div>
        </form>

        <a href="/restaurants/<%= restaurant._id %>">Back to Restaurant</a>
    </div>
</div>
